<div class="col-md-9" id="InfoContainer">
    <div class="container col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Company Name</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Performed on</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../img/avanade.jpg">
                    </td>
                    <td>AVANADE </td>
                    <td>Barcelona, Spain</td>
                    <td>CRM Dynamics Front End Developer (Project Banc Sabadell)</td>
                    <td>November 2015 - July 2017</td>
                </tr>
                <tr>
                    <td><img src="../img/learnick.png">
                    </td>
                    <td>LEARNICK</td>
                    <td>School: IES Puigvert and Maristes la Immaculada, Barcelona, Spain</td>
                    <td>Programing and Robotics instructor</td>
                    <td>October 2015 - March 2016 </td>
                </tr>
                <tr>
                    <td><img src="../img/mhh.png">
                    </td>
                    <td>HANNOVER HORZENTRUM (Hearing 4 all)</td>
                    <td>Hannover, Germany</td>
                    <td>Research and Programming </td>
                    <td>August - September 2014</td>
                </tr>
                <tr>
                    <td><img src="../img/femradio.png">
                    </td>
                    <td>FEM RADIO</td>
                    <td>Barcelona, Spain</td>
                    <td>Sound Technician</td>
                    <td>February - May 2014</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>