<div class="col-md-9" id="InfoContainer">
    <div class="container col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-2"></th>
                    <th class="col-md-2">Company Name</th>
                    <th class="col-md-3">Location</th>
                    <th class="col-md-3">Position</th>
                    <th class="col-md-2">Performed on</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../img/actua.png"> </td>
                    <td>ACTUA </td>
                    <td>Andorra la Vella, Andorra</td>
                    <td>Google Bussines Photo Project</td>
                    <td>Summer 2012</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>