<div class="container col-md-10">
    <table class="table">
        <thead>
            <tr>
                <th>Studies</th>
                <th>Location</th>
                <th>Performed on</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Intership</td>
                <td>MHH, Hannover, Germany</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>Erasmus: Informatics degree</td>
                <td>UniversitÃ&nbsp; la Sapienza, Roma, Italy</td>
                <td>2014</td>
            </tr>
        </tbody>
    </table>
</div>