<nav class="navbar navbar-default">
	<div class="container-fluid">
		<a href="" class="navbar-brand">Portfolio: Xavier De La Fuente</a>
	</div>
	<div class="container">
		<app-nav-bar> </app-nav-bar>
	</div>	
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>

<!--
<div class="container">
	<app-portfolio-cv *ngIf="showCV"></app-portfolio-cv>
	<app-portfolio-interests *ngIf="showInterests"></app-portfolio-interests>
	<app-portfolio-projects *ngIf="showProjects"></app-portfolio-projects>
</div>
-->
