<div class="container col-md-9">
	<div class="container">
		<div class="container">
			<h2>Daily I work with: </h2>
			<div *ngFor="let CurrentSkill of CurrentSkills">
				<app-skill-card [CurrentSkill]="CurrentSkill" class="col-sm-3"></app-skill-card>
			</div>
		</div>
		<div class="container">
			<h2>But I also have work with these technologies: </h2>
			<div *ngFor="let workedSkill of workedSkills">
				
				<app-skill-card [CurrentSkill]="workedSkill" class="col-sm-3"></app-skill-card>
			</div>
		</div>
		<div class="container">
			<h2>Now, I am learning: </h2>
			<div *ngFor="let learningSkill of learningSkills">
				<app-skill-card [CurrentSkill]="learningSkill" class="col-sm-3"></app-skill-card>
			</div>
		</div>
		<div class="container">
			<h2>I'm interested in learning: </h2>
			<div *ngFor="let interestedSkill of interestedSkills">
				<app-skill-card [CurrentSkill]="interestedSkill" class="col-sm-3"></app-skill-card>
			</div>
		</div>
	</div>
</div>