<div class='container'>
      <section class='main-row listas'>
        <div class='col-md-3'>
        	<div class='titulos'  name='FullCV'> CV Summary </div>  
        	<div>
				<div class='titulos' value='0'> Experience </div>  
				<div class='optionsContainner'>
					<i class='fa fa-angle-right icono' ></i>
					<i class='fa fa-angle-up icono' style='display: none;'></i>     
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='ProfessionalExperience' > Professional Experience</div>
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='Experiences' > Other (less related with the profile)</div>
		       	</div>  
	       	</div>
			<div>
		       	<div class='titulos' value='0'> Studies </div>
		       	<div class='optionsContainner'>
		       		<i class='fa fa-angle-right icono' ></i>
					<i class='fa fa-angle-up icono' style='display: none;' ></i>     
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='Certifications'> Certified Studies</div>
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='OtherStudies'> Other Studies</div>
		       	</div> 
		    </div>
		    <div>
		       	<div class='titulos' value='0'> Languages </div>
		       	<div class='optionsContainner'>
		       		<i class='fa fa-angle-right icono' ></i>
					<i class='fa fa-angle-up icono' style='display: none;' ></i>
					<div class='opciones' id='r0' style='font-weight: normal;display: none'  name='Languajes'> Languajes</div>
		       	</div>  
		    </div>
		    <div>
	       		<div class='titulos' value='0'> Skills </div>
       			<div class='optionsContainner'>
		       		<i class='fa fa-angle-right icono' ></i>
					<i class='fa fa-angle-up icono' style='display: none;' ></i>     
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='ProgrammingSkills' > Programming lenguajes</div>
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='Technicalkills'>  Technical skills</div>
			        <div class='opciones' id='r0' style='font-weight: normal;display: none'  name='Capacities'> Capacities</div>
		        </div>
	       	</div>  
        </div>
        <div class='col-md-9' id='InfoContainer'>
        	<div>
        		<!--<img src='../img/CV_XaviDeLaFuente_2017.png' />-->
			</div>
        </div>
      </section>
    </div>  