
<div class="container col-md-12">
    <h1> Sports </h1>
    <br>
    <h4> I have always been playing Sport </h4>
    <br>
    <p> Everytime, even since when I was a little boy, I've playing lots of sports both for fun and in a more competitve way</p>
    <br>
    <h4> Swim </h4>
    <p> When I was 4, i listed on the swimming school team. I was there compiting up to 15 years old. I used to train on morning before going to the school. As an andorran swimmer, I classified multiple times to the contest such as the Spain' Championship or the Catalunya's championship</p>
    <br>
    <h4> Rugby </h4>
    <p> When I was 15, i listed on the andorra's rugby team. It was a very interestin place to train. The difference between rugby and the other sports i played was not only the obvious physical heavy interactions but that in the team we had students from all over the country, from all the educational systems, such as french native speakers. We played on the french league, in asossiation with a french little town team called Tarrascon. We used to play every weekend on France so I got used to meet new people everytime and became more open-minded. What i remember more kindly is the intership we made on portugal, where we trained hand in hand with both the Spanish team and the Portugueese team. At the end of the stage, all the teams faced each other and it was incredible.</p>
    <br>
    <h4> Australian football </h4>
    <p> When I was playing rugby, a friend of mine proposed me to give a try to the autralian football. It was similar to rugby (apparently) but it was more fluid and interactive and not so paused. This sport is not really popular over Catalunya or Andorra so me only had a minor league where we faced one french team and two from Catalunya. As a country team, we got to the eurpean tournament in Croatia. That was by happiest moment on that sport as we where facing teams like the nederland or england.</p>
</div>