<h1> Volunteering </h1>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2">Event</th>
            <th class="col-md-3">Location</th>
            <th class="col-md-3">Position</th>
            <th class="col-md-2">Performed on</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src=""> </td>
            <td>Games of the Small States of Europe</td>
            <td>Andorra la Vella, Andorra</td>
            <td>Volunteer</td>
            <td>2005</td>
        </tr>
        <tr>
            <td><img src=""> </td>
            <td>Synchro Swim competitions</td>
            <td>Andorra la Vella, Andorra</td>
            <td>Volunteer</td>
            <td></td>
        </tr>
        <tr>
            <td><img src=""> </td>
            <td>HARD ROCK MOUNTAIN FESTIVAL</td>
            <td>Andorra la Vella, Andorra</td>
            <td>Waitress</td>
            <td>Summer 2009</td>
        </tr>
        <tr>
            <td><img src="../img/femradio.png">
            </td>
            <td>FEM RADIO</td>
            <td>Barcelona, Spain</td>
            <td>Sound Technician</td>
            <td>February - May 2014</td>
        </tr>
    </tbody>
</table>