<div class="container col-md-3">
	<!--<app-left-bar [barCVs]="barCVs"></app-left-bar>-->
	<div>
		<div class='titulos' value='0'> Experience </div>  
		<div class='optionsContainner'>
			<i class='fa fa-angle-right icono' ></i>
			<i class='fa fa-angle-up icono'></i> 
				<div *ngFor="let barCV of barCVs">			 
					<a class='container' style='font-weight: normal;' (click)="switchLayout(barCV)">
						{{ barCV.parentlabel}} 
					</a>
		   		</div>
	   	</div>
	</div>

</div>

<div class="container col-md-9">
	<div class="container"  *ngIf="cvSummary">
		<div><img src="./../../assets/img/CV_XaviDeLaFuente_2017.png"></div>
	</div>
	<div class="container"  *ngIf="Capacities">
		<app-cv-capacities></app-cv-capacities>
	</div>
	<div class="container"  *ngIf="certifiedStudies">
		<app-cv-certified-studies></app-cv-certified-studies>
	</div>
	<div class="container"  *ngIf="languaje">
		<app-cv-languajes></app-cv-languajes>
	</div>
	<div class="container"  *ngIf="otherExperiences">
		<app-cv-other-experiences></app-cv-other-experiences>
	</div>
	<div class="container"  *ngIf="otherStudies">
		<app-cv-other-studies></app-cv-other-studies>
	</div>
	<div class="container"  *ngIf="professionalExperience">
		<app-cv-professional-experience></app-cv-professional-experience>
	</div>
	<div class="container"  *ngIf="programmingLanguages">
		<app-cv-programming-languajes></app-cv-programming-languajes>
	</div>
	<div class="container"  *ngIf="technicalSkills">
		<app-cv-technical-skills></app-cv-technical-skills>
	</div>
</div>